<h3 class="cert-main-title">
  <span>step1</span>
</h3>
<form id="J-current-form">
  <div class="form-item">
    <label class="w10em"><span class="star">*</span>
      姓名：
    </label>
    <div class="oh">
      <input type="text" class="form-control" name="userName" value="">
    </div>
  </div>
  <div class="btn-wrap tc">
    <button type="button" class="cert-btn btn btn-default" id="J-step1-next">下一步</button>
  </div>
</form>