<div class="container">
  <ul class="nav row">
    <li role="presentation"><a href="./index.html">index</a></li>
    <li role="presentation"><a href="./progress.html">progress</a></li>
    <li role="presentation" class="active"><a href="./about.html">about</a></li>
  </ul>
</div>
<div class="wrap">
  <h2>about</h2>
  <!-- <img src="../../public/img/task.jpg"> -->
  <div class="content cwrap-1">
    <div class="elem">1</div>
    <div class="elem">2</div>
    <div class="elem">3</div>
    <div class="elem">4</div>
    <div class="elem last">5</div>
  </div>

  <div class="content cwrap-2">
    <div class="elem">1</div>
    <div class="elem">2</div>
    <div class="elem">3</div>
    <div class="elem last">4</div>
  </div>

  <div class="content cwrap-3">
    <div class="elem">1</div>
    <div class="elem">2</div>
    <div class="elem last">3</div>
  </div>

  <div class="content cwrap-4">
    <div class="elem">1</div>
    <div class="elem last">2</div>
  </div>

  <div class="content cwrap-5">
    <div class="elem last">1</div>
  </div>

</div>