/*-----------*/
body {
  font-family: "Microsoft yahei";
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/*--------------*/
.oh {overflow: hidden;}
.fr {float: right;}
.fl {float: left;}
.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}
.clearfix {clear: both;}
