<div class="container">
  <ul class="nav row">
    <li role="presentation" class="active"><a href="./index.html">index</a></li>
    <li role="presentation"><a href="./progress.html">progress</a></li>
    <li role="presentation"><a href="./about.html">about</a></li>
  </ul>
</div>
<div class="wrap">
  <h2>webpack - demo</h2>
  <div>
    <img src="./img/fj.jpg" class="head-icon">
  </div>
  <div id="content" class="mt20"></div>
  <div class="mt20">
    <button id="btn" class="btn btn-info btn-lg btn-block">press</button>
  </div>
</div>